---
pagination:
  data: collections.authors
  size: 1
  alias: author
  addAllPagesToCollections: true
eleventyExcludeFromCollections: false
eleventyComputed:
  permalink: "author/{{ author.slug }}/index.html" 
  title: "{{ author.name }}"
  description: "Article by {{ author.name }}"
layout: base.njk
---
<div class="container">
    <div class="col-md-8 mx-auto text-center mt-5 mb-4">
        {% if author.profile_picture %}
            <img src="{{ author.profile_picture }}" alt="Profile Picture of {{ author.name }}" class="author-avatar rounded-circle me-3" width="90" height="90">
        {% endif %}
        <div>
            <h1 class="mb-0">{{ author.name }}</h1>
            {% if author.website %}
                <p class="mb-0">
                    <a href="{{ author.website }}" target="_blank" rel="nofollow noopener">
                        {{ author.website | replace('https://', '') | replace('http://', '') }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>   
    <div class="p-3 text-center">
        <p>{{ author.description }}</p>
    </div>
</div>

<div class="container-fluid border-bottom">
<div class="col-md-8 mx-auto p-3">
<div class="row">
{% for post in author.posts %}
<article class="col-md-4 p-3">
<div class=" img-post-list">
<a href="/post/{{ post.slug }}/" title="{{post.title}}">
<img class="img-fluid mb-5 post-list-image"  width="100%" height="100%" 
alt="{{post.title}}"
src="{{post.featuredImage or wordpress.config.image }}"
/></a>
<a href="/post/{{ post.slug }}/" class="none d">
<p class="fw-semibold">{{ post.category_names[0] | default('Kategori') }}</p>
<h3>{{post.title}}</h3>
{% if post.excerpt %}<div class="post-list-text">{{post.excerpt|safe}}</div>{% endif %}
</a>
</div>
</article>
{% endfor %}
</div>
<p class="p-3 p-md-5 text-center"><a href="/authors/" class="btn btn-light rounded-3 btn-lg">All Authors</a></p>
</div>
</div>