---
eleventyComputed:
  title: "{{wordpress.config.blog_title}}"
  description: "{{wordpress.config.blog_description}}"
pagination:
  data: wordpress.posts
  size: 6
  alias: posts
  reverse: true
layout: "base.njk"
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
tags: blog_list
---
<header class="container-fluid border-bottom">
<div class="container col-md-10 mx-auto p-3 p-md-5 text-center">
<h1 class="text-uppercase text-hero-post fw-bold"><a href="{{page.url}}" class="none">
{{wordpress.config.blog_title}}
</a></h1>
</div>
</header>

<section class="container-fluid border-bottom">
<div class="col-md-8 mx-auto">
<div class="row justify-content-center mt-5">
{% for post in posts %}
<article class="col-md-4 p-3">
<div class=" img-post-list">
<a href="/post/{{ post.slug }}/" title="{{post.title}}">
<img class="img-fluid mb-5 post-list-image"  width="100%" height="100%" 
alt="{{post.title}}"
src="{{post.featuredImage or wordpress.config.image }}"
/></a>
<a href="/post/{{ post.slug }}/" class="none d">
<p class="fw-semibold">{{ post.category_names[0] | default('Kategori') }}</p>
<h3>{{post.title}}</h3>
{% if post.excerpt %}<div class="post-list-text">{{post.excerpt|safe}}</div>{% endif %}
</a>
</div>
<p class="mt-3">
<img class="img-profile rounded-circle me-2" 
alt="{{post.author.name}}"
src="{{post.author.avatar_urls or wordpress.config.image}}"
/>
By <a href="/author/{{ post.author_name | slugify }}" class="none d">{{ post.author_name }}</a>
</p>
</article>
{% endfor %}
<div class="col-md-12 p-3 mb-5">
<nav aria-label="Pagination">
  <div class="row p-3">
    <div class="col-md-6">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="btn btn-light">← Prev</a>
    {% endif %}
    </div>
    <div class="col-md-6 text-end">
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}"  class="btn btn-light">Next →</a>
    {% endif %}
    </div>
  </div>
</nav>
</div>
</div>
</div>
</section>