---
pagination:
  data: wordpress.posts
  size: 1
  alias: post
layout: "base.njk"
permalink: "/post/{{ post.slug }}/"
tags: post
---
<section class="container-fluid border-bottom">
<div class="row row-full-height">
    
<div class="col-md-4 col-12 d-flex flex-column justify-content-center 
text-white col-centered p-3 p-md-5" 
style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
url('{{post.featuredImage or wordpress.config.image }}');">
<div class="col-md-10 mx-auto">
{% for cat in post.category_names %}
<a href="/category/{{ cat | slugify }}" class="none d">{{ cat }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}    
<h1 class="text-uppercase text-hero-post fw-bold">{{post.title}}</h1>
<h2 class="lead">{{post.excerpt |safe }}</h2>
<p class="small">{{ post.date | readableDate }}</p>
</div>
</div>
<div class="col-md-8 p-3 p-md-5 col-scrollable">
<div class="mb-5">
<a href="{{wordpress.config.url}}" class="text-dark none">
<i class="fas fa-arrow-left me-3"></i> Back
</a>
</div>
{% set contentWithIDs = post.content | default('') | addHeadingIDs %}
{% if wordpress.config.widget_show_toc %}<div class="mb-5 tocus p-3">
<h3 class="fw-bold">{{wordpress.config.widget_toc}}</h3>
{{ contentWithIDs | toc | safe }} 
</div>{% endif %}
<article class="post-article"><heading-anchor>{{ contentWithIDs | safe }}</heading-anchor></article>
<div class="small mt-2">
<p><strong>Tags:</strong> 
{% for tag in post.tags %}
<a href="/tags/{{ tag | slugify }}" 
class="badge none text-bg-light border me-1">{{ tag }}</a>
{% endfor %}</p>
{% if post.author_name %}<p>
by <span class="fw-semibold text-secondary">
<a href="/author/{{ post.author_name | slugify }}">{{ post.author_name }}</a>
</span></p>
{% endif %}
</div>
<div class="row mt-5">
{% set allWpPosts = collections.wordpressPostsOnly %}
{% set currentTitle = post.title %} 
{% set foundIndex = -1 %}
{% for item in allWpPosts %}
{% if item.data.title == currentTitle %}
{% set foundIndex = loop.index0 %}
{% endif %}
{% endfor %}
{% set prevPost = false %}
{% set nextPost = false %}
{% if foundIndex !== -1 %}
{% set prevPost = allWpPosts[foundIndex + 1] %}
{% set nextPost = allWpPosts[foundIndex - 1] %}
{% endif %}
{% if prevPost and prevPost.data.title %}
<div class="col-md-6 p-3">
<a href="{{ prevPost.url }}" class="nav-link prev-post">
&larr; {{ prevPost.data.title }}
</a></div>
{% else %}
<span></span>
{% endif %}
{% if nextPost and nextPost.data.title %}
<div class="col-md-6 p-3 text-end">
<a href="{{ nextPost.url }}" class="nav-link next-post">
{{ nextPost.data.title }} &rarr;
</a>
</div>
{% else %}
<span></span>
{% endif %}
</div>
</div>
</div>
</section>
